.botao{
    margin: 0rem;
    border: none;
    border-radius: 2rem;
    background-color: rgb(165, 161, 161);
    width: 10%;
    height: 2rem;
    cursor: pointer;
}

    .botao:hover {
        background-color: blueviolet;
        transform: scale(1.2);
        transition: 1.1s;
    }